  /*
.loginsignup{
    width: 100%;
    height: 80vh;
    color: white;
}
.loginsignup-container h1{
    margin-top: 80px;
    margin-left: 200px;
}
.loginsignup-container{
    height: 300px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    background: gray;
    padding: 100px 60px;
}



.loginsignup-fields{
    height: 300px;
    width: 300px;
    color:white;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 30px;
    margin-left: 100px;
    align-items: center;
}

.loginsignup-fields input{
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid white;
    outline: none;
    color: black;
    font-size: 25px;
}

.loginsignup-container button {
    width: 100px;
    height: 72px;
    color: white;
    background-color: darkgray;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.loginsignup-login {
    margin-top: 10px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}

.loginsignup-login span{
    color: red;
    font-weight:400;
}
.loginsignup-agree{
    display: flex;
    align-items: center;
    margin-top: -30px;
    gap: 20px;
    color: white;
    font-size: 15px;
    font-weight: 500;
}
.loginsignup-agree input{
    height: 20px;
    width: 20px
}
    */
.body {
    margin: 0;
    padding: 0;
    background: url('loginimg.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
    .login-box {
        width: 285px;
        padding: 40px;
        position: relative;
        background: #edf2f4;
        text-align: center;
        box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        margin-left: 600px;
        margin-top: 150px;
    }
    
    .login-box h2 {
        margin: 0 0 20px;
        padding: 0;
        color: #333;
        font-size: 22px;
    }
    
    .textbox {
        position: relative;
        margin-bottom: 30px;
        justify-content: center;
    }
    
    .textbox input {
        width: 90%;
        padding: 10px;
        background: white;
        border: none;
        outline: none;
        font-size: 16px;
    }
    
    .remember-me {
        margin-bottom: 20px;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: left;
    }
    
    .remember-me input {
        margin-right: 10px;
    }
    
    .btn {
        width: 100%;
        background: #333;
        border: none;
        padding: 10px;
        cursor: pointer;
        color: white;
        font-size: 16px;
    }
    
    .signup-link {
        margin-top: 20px;
    }
    
    .signup-link a {
        color: blue;
        text-decoration: none;
        font-size: 14px;
    }
    
    .signup-link a:hover {
        text-decoration: underline;
    }